@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

body > div {
    width:calc(100% - 30px);
    max-width: 990px;
    margin:0 auto;
    padding:15px;
}

body > div > div header[data-react-toolbox="app-bar"] {
    margin:0 auto 15px;
}

body > div > div section h5 {
    font-size:18px;
}

section {
    outline:0;
}

header nav a {
    text-decoration: none;
}

header nav a + a {
    padding-left:25px;
}