@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons');

body {
    margin: 0;
    padding: 0;
}

#root {
    width:100%;
    max-width: 990px;
    margin:0 auto;
    padding:15px;
}

#root header[data-react-toolbox="app-bar"] {
    margin:15px auto;
}