@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Open+Sans:300,400,600,700'); /* todo optimise */

body {
    margin: 0;
    padding: 0;
    /*font-family: 'Lora', serif;*/
    font-family: 'Open Sans', sans-serif;
}

#root {
    width: 100%;
    height:100%;
    position: absolute;
    background-color: #EDEDED;
}

h1 {
    text-align: center;
    margin:40px 0;
    font-size:22px;
    font-weight: 600;
    color:#252525;
}

span.author {
    color:#565656;
    text-align: center;
    width:100%;
    display: block;
    margin:40px 0;
    position: relative;
    font-size:15px;
}

span.author:before {
    width:20px;
    height:1px;
    background-color: #bdbdbd;
    content:'';
    position: absolute;
    top:-20px;
    left:50%;
    transform:translateY(0) translateX(-50%);
}

.container {
    width: 100%;
    height: 100%;
}

.container header {
    margin:40px;
}

.container .menu {
    width:100%;
    height:50px;
    background-color:lightslategray;
    margin:0;
    list-style: none;
    padding:0;
    text-align: center;
    font-size:14px;
}

.container .menu li {
    display: inline-block;
    height:calc(100% - 10px);
    padding:15px 15px;
    color:#fff;
    vertical-align: middle;
}

.container .menu li a {
    color:inherit;
    text-decoration: none;
    display: block;
    vertical-align: middle;
}

.container > div {
    width:100%;
    height:calc(100% - 50px);
    position: absolute;
    top:50px;
    background-color: #EDEDED;
    z-index: 9;
}

.container > div + div {
    z-index:0;
}

.pages {
    width:calc(100% - 100px);
    height:50%;
    position: relative;
    margin:0 50px;
}

.pages .page {
    position: relative;
    margin:30px;
    float:left;
    background: #fff;
    height: calc(100% - 120px);
    box-shadow: 0 0 17px -4px #333;
    font-family: 'Lora', serif;
    text-decoration: none;
    padding:30px;
}

.pages .page + .page {
    margin-left:0;
}

.pages .page:before {
    content: "";
    display: block;
    margin-left:calc(100vw / 9);
}

.pages .page span {
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right:0;
    background-color: white;
    padding:20px;
    text-align: center;
}

.pages .page h1 {
    color:#333;
    font-weight: 700;
    font-size:17px;
    margin:0;
}

.pages .page p {
    font-size:12px;
    color:#757575;
    margin:0;
    padding:30px 0 0;
    position: absolute;
    left:30px;
    right:30px;
    max-height:calc(100% - 120px);
    overflow: hidden;
}

.center {
    text-align: center;
}

.padded {
    padding:15px;
}

.button {
    border: 2px solid #909ead;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    padding:10px;
}

.icon {
    width:30px;
    height:30px;
    display: block;
}

.icon.new { background-image:url('sprite.svg#document-new') }

.icon.loading { background-image:url('sprite.svg#loading');animation:iconLoading 1.4s cubic-bezier(0.29, 0, 0.07, 1.47) infinite }

@keyframes iconLoading {
    0% {
        transform: scale(0.2, 0.2);
        opacity: 0.1;
    }

    80% {
        transform: scale(1, 1);
        opacity: 1;
    }

    100% {
        transform: scale(0.2, 0.2);
        opacity: 0.1;
    }
}